<h1>Ma Liste de Livres</h1>

<% @mes_livres.each do |un_livre| %>
  <p><%= un_livre.titre %></p>
 <% end %>



<%= form_tag "/livres", method: "post" do %>
  <input type="text" name: "titre du livre">
  <input type="submit" value="Ajouter un livre">
<% end %>





